<div>
    <form>
        <br>
        <div class="row">
            <div class="col-xs-6" align="right">证书单位：</div>
            <div class="col-xs-6" align="left">
                <input type="text" style="width: 95%" placeholder="请输入证书单位" ng-model="certificate.unit">
            </div>
        </div>
        <div class="row">
            <div class="col-xs-6" align="right">证书单位地址：</div>
            <div class="col-xs-6" align="left">
                <input type="text" style="width: 95%" placeholder="请输入证书单位地址" ng-model="certificate.address">
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-xs-6"></div>
            <div class="col-xs-6" align="left">
                <button type="submit" class="btn btn-info" ng-click="configCertificate()">
                    <span class="glyphicon glyphicon-ok"></span> 提交
                </button>
            </div>
        </div>
    </form>
</div>
