<div>
    <form>
        <br>
        <div class="row">
            <div class="col-xs-6" align="right">型号：</div>
            <div class="col-xs-6" align="left">
                <input type="text" style="width: 95%" placeholder="请输入型号名称" ng-model="model.name">
            </div>
        </div>
        <div class="row">
            <br>
            <div class="col-xs-6"></div>
            <div class="col-xs-6" align="left">
                <button type="submit" class="btn btn-info" ng-click="configModel()">
                    <span class="glyphicon glyphicon-ok"></span> 提交
                </button>
            </div>
        </div>
    </form>
</div>
